/* Header */
.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    margin:20px;
    padding:5px;
}
/* Header */
.logo{
    width: 150px;
}
/* Header */
.nav-items > ul{
    display: flex;
    list-style-type: none;
}
/* Header */
.nav-items > ul > li{
    padding: 20px;
}

/* Body */
.restaurant-list{
    display:flex;
    justify-content: space-around;
}

/*Restaurant Card*/
.restaurantCard{
    width: 300px;
    border: 1px solid black;
    margin:20px;
    padding:25px;
}

/*Restaurant Card*/
.restaurantCard > img{
    width: 100%;
}

